/* Estilos da página index.html */
body {
    background-color: #c8deef;
    font-family: 'Lexend Deca', sans-serif;
}

nav {
    background-color: #2e7ba2;
    display: flex;
    align-items: center;
    justify-content: start;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1,
h2 {
    font-size: 40px;
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.logo {
    width: 250px;
}

#menu li {
    display: inline;
    padding: 30px;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#menu li a:hover {
    color: gainsboro;
}

.p-30 {
    padding: 30px;
}

.p-30 p {
    text-align: left;
}

.br-50 {
    border-radius: 50%;
}

.wh-250 {
    width: 250px;
    height: 250px;
}

.center {
    text-align: center;
}

.media {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 100px;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.media h2 {
    margin-bottom: 25px;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #2e7ba2;
    color: white;
    font-size: 20px;
}

/* Estilos da página contato.html */